<div class="header-main">
  <div class="logo-div-img">
    <img class="logo-img" src="../../assets/images/logo.png">
  </div>
  <div class="change-lang">
    <h4 class="eng-h4 lang-h4">ENG</h4>
    <h4 class="arm-h4 lang-h4">Հայ</h4>
    <h4 class="rus-h4 lang-h4">Рус</h4>
  </div>
  <div class="container menu-container">
    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto header_ul">
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Teachers
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Donors
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          About Us
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Contact Us
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Blog
        </a>
      </li>
    </ul>
    <div class="btn-sign-in">
      <img class="btn1-sign-in" src="../../assets/images/sign-in-out.png" width="18" height="18">
      <h4 class="sign-in-text">Sign In</h4>
    </div>
  </div>
</div>


<div class="resp-menu">
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <div class="menu-resp-div"></div>
    <span class="line-1 line"></span>
    <span class="line-1 line-2"></span>
    <span class="line-1 line-3"></span>
    <span class="line-1 line-4"></span>
    <span class="line-1 line-5"></span>
    <span class="line-1 line-6"></span>
    <ul>
      <li><a href="#">HomePage</a></li>
      <li><a href="#">Teachers</a></li>
      <li><a href="#">Donors</a></li>
      <li><a href="#">AboutUs</a></li>
      <li><a href="#">ContactUs</a></li>
      <li><a href="#">Blog</a></li>
      <div class="change-lang-resp">
        <h4 style="color: black" class="lang-h4">ENG</h4>
        <h4 class="lang-h4">Հայ</h4>
        <h4 class="lang-h4">Рус</h4>
      </div>
    </ul>
    <div class="responsive-leave">
      <img class="elq-img" src="../../assets/images/elq-2.png" width="18" height="18">
      <h4 class="elq-sign">Sign in</h4>
    </div>
  </div>
</div>
