.header-main{
  width: 100%;
  height: 120px;
  background: #34C88A;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-div-img{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.change-lang{
  display: flex;
  position: absolute;
  z-index: 50;
  top: 10px;
  right: 30px;
}
.lang-h4{
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.eng-h4{
  color: #f8f8f8;
}
.header_ul{
  flex-direction: row !important;
  justify-content: center;
}
.header_li{
  margin-right: 24px;
  margin-left: 24px;
}
.header_a{
  font-family: Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F8F8;
}
.btn-sign-in{
  position: absolute;
  right: 130px;
  top: 85px;
  cursor: pointer;
  display: flex;
}
.sign-in-text{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #f8f8f8;
  margin-left: 10px;
  margin-top: -2px;
}
@media (max-width: 1040px) {
  .btn-sign-in{
    right: 20px;
  }
}



/*Responsive=Menu*/
.resp-menu{
  display: none;
}
@media (max-width: 768px) {
  .resp-menu{
    display: block;
  }
  .menu-container{
    display: none;
  }
  .change-lang{
    display: none;
  }
}
.menu-resp-div{
  position: absolute;
  width: 32px;
  height: 4px;
  top: 10px;
  left: 48%;
  background: #34C88A;
  border-radius: 3px;;
}
.change-lang-resp{
  margin-right: 53px;
  padding-top: 10px;
}
.change-lang-resp .lang-h4{
  color: rgba(58, 58, 58, 0.5);
}
.line{
  top: 64%;
}
.line-1{
  height: 1px;
  width: 97%;
  left: 3%;
  background: #34C88A;
  position: absolute;
}
.line-2{
  top: 54%;
}
.line-3{
  top: 44%;
}
.line-4{
  top: 34%;
}
.line-5{
  top: 24%;
}
.line-6 {
  top: 14%;
}
.responsive-leave{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.elq-sign{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-left: 10px;
  margin-top: -2px;
}
.wrapper{
  position: fixed;
  bottom: 0;
  bottom: -100%;
  height: 500px;
  width: 100%;
  background: #F8F8F8;
  border-radius: 20px 20px 0px 0px;
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  bottom:0;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 45%;
  border-bottom: 2px solid white;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}
.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 35%;
  left: 6%;
  height: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
@media (max-width: 480px) {
  .wrapper ul{
    left: 9%;
  }
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 30px;
  color: black;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;

}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-100px);
}
/*#active:checked ~ .wrapper ul li a{*/
/*  transform: none;*/
/*  transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);*/
/*  transition-delay: .6s;*/
/*  transform: translateX(-100px);*/
/*}*/


