<div class="header-main">

  <div class="logo-div-img">
    <img class="logo-img" src="../../assets/images/logo.png">
  </div>

  <div class="change-lang">
    <h4 class="eng-h4 lang-h4">ENG</h4>
    <h4 class="arm-h4 lang-h4">Հայ</h4>
    <h4 class="rus-h4 lang-h4">Рус</h4>
  </div>

  <div class="container">
    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto header_ul">
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Teachers
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Donors
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          About Us
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Contact Us
        </a>
      </li>
      <li class="nav-item g-mx-20--lg header_li">
        <a href="#" class="nav-link px-0 header_a">
          Blog
        </a>
      </li>


    </ul>
  </div>
</div>
